* {
    box-sizing: border-box;
    text-align: center;
    }

body {
    font-size: 16px;
    font-family: "Gothic A1";
    line-height: 150%;
    color: rgb(51, 51, 51);
    background: gray;
}

a {
    color: #d21034; 
}

header {
    height: 80px;
    padding: 24px;
    margin-bottom: 5px;
    color: white;
    background-color: #333333;
    text-align: center;
    Margin: 0;
}  

h1 {
    font-size: 28px;
    font-family: "Merriweather";
}

h2 {
    font-family: "Merriweather";
    color: #333;
    font-size: 24px
}

h3 {
    font-family: "Merriweather";
    color: #333;
    font-size: 20px
}  

#navbar {
    background: #ccc;
    height: 80px;
    padding: 24px;
    margin: 5px 0 5px 0;
}

#main {
    height: 375px
}

#section {
    float: left;
    width: 65%;
    background-color: lightgoldenrodyellow;
    height: 375px;
    padding-top: 24px;
}

#aside {
    float: right;
    width: 35%;
    background: #fff;
    height: 375px;
    border-style: solid;
    border-color: gainsboro;
    border-width: 2px;
}
#pagetop {
    position: relative

}
footer {
    padding: 20px;
    clear: both;
    background: #ccc;
}