body {
  padding: 0;
  font-family: "Gothic A1";
  font-size: 16px;
  line-height: 150%;
  color: #333;
  background: #efeee7;
    }
header {
    background-color: #333333;
    text-align: center;
    Margin: 0;
}
a {
    color: #d21034;
  }
  
h1 {
    font-family: "Merriweather";
    color: #eee;
    font-size: 28px;
    padding: 20px 0;
    height: 42px;
    }
h2 {
    font-family: "Merriweather";
    color: #333;
    font-size: 24px;
}
#main-bio,
#contact-info,
#boomHeadshot {
    float:left;
}
#navbar {
    text-align: center;
    height: 60px;
    padding: 12px 0 0 0;
    margin-bottom: 12px;
    font-size: 16px;
    background: #ccc;
}
#main-bio {
    width: 65%;
    margin-left: 10px
}

#main-bio p {
 margin-bottom: 16px
}

#boomHeadshot 
{
    padding: 12px 12px 0 0;
    width: 200px;
}
#contact-info {
    float: right;
    width: 20%;
    height: 1.5;
    margin-right: 10px;
}
